---
# for the SLR page
---

.scenario-selector,
.scenario-selector > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scenario-selector > li {
  display: inline-block;
  margin-right: 0.5em;

  &::before {
    display: none;
  }

  label {
    margin: 0;
  }

}

.scenario-selector .usa-button {
  border: 2px solid transparent;
}

.scenario-selector label {
  input:checked + .usa-button {
    border-color: #000;
    background: #fff;
    color: #000;
  }
}
