---
# for temperature page
---

.usa-accordion button,
.usa-accordion-bordered button {
  background-image: none;
}

label:nth-of-type(1) {
  margin-top: 0;
}

label {
  display: inline-block;
  margin-right: 1em;
}

output {
  background-color: LemonChiffon;
  padding: .2em .7em;
}

.low {
  color: orange;
}

.high {
  color: purple;
}

.likely {
  color: red;
}

.usa-accordion {
  width: 100%;
}

#results {
  font-size: 1.4em;
}

fieldset {
  display: inline-block;
  margin-right: 4em;
}

a[role="button"] {
  display: block;
  width: 35%;
}
