---
layout: default

scripts:
- vendor/document-register-element.js
- vendor/x-tag.js
- components/search-box.js
- views/landing.js
---

<header>
  <h1>Climate prototype</h1>
</header>
<main>
  <div id="search-form">
    {% include location_search.html %}
  </div>

  <form method="get" id="query-form">
    <div class="usa-width-one-half">
      <label for="location">Enter the location you are concerned with</label>
      {% include location_search.html %}
    </div>
    <div class="usa-width-one-half">
        <label for="topic-btns">What topic are you concerned about?</label>
        <div id="topic-btns">
          <button formaction="{{ site.baseurl }}/sealevel/">Sea level rising</button>
          <button formaction="{{ site.baseurl }}/temperature/">Extreme temperature</button>
          <button class="usa-button-disabled">Extreme precipitation</button>
          <button class="usa-button-disabled">Average temperature</button>
          <button class="usa-button-disabled">Average precipitation</button>
          <button class="usa-button-disabled">Storm flooding</button>
        </div>
    </div>
  </form>
</main>
