---
layout: page

stylesheets:
- vendor/leaflet.css

scripts:
- vendor/document-register-element.js
- vendor/x-tag.js
- vendor/leaflet.js
- components/climate-map.js
---

<section id="climate-map">
  <h1>&lt;climate-map&gt;</h1>

  <p>default (not interactive):</p>
  <climate-map center="37.7706,-122.3782" zoom="12"></climate-map>

  <p>interactive:</p>
  <climate-map center="37.7706,-122.3782" zoom="12" interactive="true"></climate-map>

  <p>terrain, no controls:</p>
  <climate-map center="37.7706,-122.3782" zoom="10" tiles="terrain" controls="none"></climate-map>
</section>
