climate-area-chart {
  display: block;
  height: 2em;
  position: relative;

  svg {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    path,
    line {
      fill: none;
    }

    line {
      stroke: #000;
      stroke-width: 1;
    }

    text {
      font-size: 1rem;
    }

    .area {
      fill: #0071bc;
      opacity: .5;
    }
  }
}
