climate-slider {
  $slider-height: 1em;
  $thumb-height: 1.5em;

  cursor: pointer;

  display: block;
  padding-bottom: $slider-height;
  margin: 1em 0;
  position: relative;

  &::before {
    background: #0071bc;
    bottom: 0;
    content: "";
    display: block;
    height: $slider-height;
    position: absolute;
    width: 100%;
  }

  .climate-slider-thumb {
    background: #000;
    border: 2px solid #fff;
    border-radius: $thumb-height;

    cursor: inherit;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    height: $thumb-height;
    margin-left: -$thumb-height / 2;
    position: absolute;
    width: $thumb-height;
    bottom: ($slider-height - $thumb-height) / 2;
  }
}
