---
title: Sea level rise
layout: page

stylesheets:
- sealevel.css
- vendor/leaflet.css

scripts:
- vendor/leaflet.js
- vendor/document-register-element.js
- vendor/x-tag.js
- vendor/d3.js
- components/aria-toggle.js
- components/climate-area-chart.js
- components/climate-map.js
- components/climate-slider.js
- views/sealevel.js

data_sources:
- name: REST Services
  href: https://coast.noaa.gov/arcgis/rest/services/FloodExposureMapper
  format: API
  filesize: false
  source:
    name: NOAA
    href: https://coast.noaa.gov/
- name: ArcGIS Raster layers
  href: ''
  format: ESRI GeoDatabase
  filesize: 768 MB
  source:
    name: NOAA
    href: https://coast.noaa.gov/
- name: Raster layers
  href: ''
  format: GeoTIFF
  filesize: 2.8 GB
  source:
    name: NOAA
    href: https://coast.noaa.gov/

---

<script>
  ANNUAL_SLR_LEVELS_BY_SCENARIO = {
    {% for scenario in site.data.scenarios %}
    '{{ scenario.id }}': {{ scenario.slr | jsonify }},
    {% endfor %}
  };
</script>

<form id="controls" action="{{ page.url }}">
  <p>
    Start by selecting the location for which you’d like
    sea-level rise data:
    {% include location_search.html %}
    <input type="submit" value="Update location">
  </p>

  <climate-slider id="year" name="year"
    min="{{ site.data.timeline.start }}"
    max="{{ site.data.timeline.end }}"
    step="{{ site.data.timeline.step }}"
    label="true">

    <climate-area-chart
      data-values='{{ site.data.scenarios[0].slr | jsonify }}'>
    </climate-area-chart>

    <input type="hidden" name="year">
  </climate-slider>
</form>

<section id="no-location" aria-hidden="true">
  <p>Please select a location.</p>
</section>

<section id="info">
  <p>
    <strong>The following three maps show projected sea-level
      increases for <span data-text="year">2010</span></strong>.
    We aggregated these data from 40 trusted sources. Because
    different scientific models account for different impact
    factors, there’s some variation among the data we draw on,
    which accounts for the variations in the maps.

    You can then <a href="#download">download this data</a> or
    <a href="#upload">upload your own</a> to display it on the
    map.

  </p>
</section>

<section id="projections" aria-hidden="true" class="usa-grid usa-grid-full">
  {% assign year = site.data.timeline.start %}
  {% for proj in site.data.projections %}
  <section id="proj-{{ proj.id }}" data-proj-index="{{ proj.index }}"
    class="usa-width-one-third">
    <h3>
      <strong data-text="level">0</strong> ft.
      ({{ proj.label }})
      <!-- in <span data-text="year">2010</span> -->
    </h3>
    <climate-map interactive="true"></climate-map>
    <p>
      {{ proj.description.slr|default:proj.description.general }}
    </p>
  </section>
  {% endfor %}
</section>

<section id="next-steps">
  <h2>Next Steps</h2>

  <ul class="usa-accordion usa-accordion-bordered usa-unstyled-list">
    <li>
      <button is="aria-toggle" aria-controls="download"
        aria-expanded="true" class="usa-button-unstyled">
        Download data
      </button>

      <div id="download" class="usa-accordion-content">
        <p>Data is available in the following formats:</p>
        <ul class="usa-content-list">
          {% for source in page.data_sources %}
          <li>
            <a href="{{ source.href }}">{{ source.name }}</a>
            ({{ source.format|default:'format unknown' }}{% if source.filesize %}, {{ source.filesize }}{% endif %})
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <li>
      <button is="aria-toggle" aria-controls="upload"
        aria-expanded="false" class="usa-button-unstyled">
        Upload your own data
      </button>

      <form action="{{ page.url }}" id="upload"
        aria-hidden="true" class="usa-accordion-content">
        <p>
          Upload your own ESRI Shapefile (<u>?</u>) so that you can gauge sea level
          rise impacts on local features and infrastructure.
        </p>

        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </li>

  </ul>

</section>

