---
title: Sea Level Rise
layout: page

stylesheets:
- sealevel.css
- vendor/leaflet.css

scripts:
- vendor/leaflet.js
- vendor/document-register-element.js
- vendor/x-tag.js
- vendor/d3.js
- components/climate-area-chart.js
- components/climate-map.js
- components/climate-slider.js
- views/sealevel.js
---

<script>
  ANNUAL_SLR_LEVELS_BY_SCENARIO = {
    {% for scenario in site.data.scenarios %}
    '{{ scenario.id }}': {{ scenario.slr | jsonify }},
    {% endfor %}
  };
</script>

<form id="controls">
  <p>
    You selected: {% include location_search.html %}
    <input type="submit" value="Update Location">
  </p>

  <climate-slider id="year" name="year"
    min="{{ site.data.timeline.start }}"
    max="{{ site.data.timeline.end }}"
    step="{{ site.data.timeline.step }}"
    label="true">

    <climate-area-chart
      data-values='{{ site.data.scenarios[0].slr | jsonify }}'>
    </climate-area-chart>

    <input type="hidden" name="year">
  </climate-slider>
</form>

<section id="no-location" aria-hidden="true">
  <p>Please select a location.</p>
</section>

<section id="info">
  <p>
    <strong>The following three maps show projected sea-level
      increases for <span data-text="year">2010</span></strong>.
    We aggregated these data from 40 trusted sources. Because
    different scientific models account for different impact
    factors, there’s some variation among the data we draw on,
    which accounts for the variations in the maps.
  </p>
</section>

<section id="projections" aria-hidden="true" class="usa-grid usa-grid-full">
  {% assign year = site.data.timeline.start %}
  {% for proj in site.data.projections %}
  <section id="proj-{{ proj.id }}" data-proj-index="{{ proj.index }}"
    class="usa-width-one-third">
    <h3>
      <strong data-text="level">0</strong> ft.
      ({{ proj.label }})
      <!-- in <span data-text="year">2010</span> -->
    </h3>
    <climate-map interactive="true"></climate-map>
    <p>
      {{ proj.description.slr|default:proj.description.general }}
    </p>
  </section>
  {% endfor %}
</section>
